
<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyGrocery | Payment</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css ' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}" type="text/css">

</head>

<body>
<!--<script src="https://checkout.razorpay.com/v1/checkout.js"-->
<!--        data-key="rzp_test_0ib0jPwwZ7I1lT"-->
<!--        data-amount="{{ payy_str }}"-->
<!--        data-currency="INR"-->
<!--        data-order_id="{{ payment.id }}"-->
<!--        data-name="EasyGrocery"-->
<!--        data-description="EasyGrocery Online Purchase"-->
<!--        data-prefill.name="EasyGrocery"-->
<!--        data-theme.color="#26bd46"-->
<!--        data-callback_url="/payment_success/">-->

<!--</script>-->

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'web/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="{% url 'sign_in' %}"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Categories</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>


                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> admin@easygrocery.com</li>
                <li>Free Shipping for all Order Above Rs.1000</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>admin@easygrocery.com</li>
                                <li>Free Shipping for all Order above Rs.1000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">

<!--                            <div class="header__top__right__language">-->
<!--                                <img src="{% static 'web/img/language.png' %}" alt="">-->
<!--                                <div>English</div>-->
<!--                                <span class="arrow_carrot-down"></span>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Spanis</a></li>-->
<!--                                    <li><a href="#">English</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            {% if request.session.Username %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'log_out' %}"><i class="fa fa-user">

                                </i> Welcome {{  request.session.Username }} / Logout</a>
                            </div>
                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'sign_in' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static 'web/img/logo.png' %}" width="120px" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav class="header__menu">
                        <ul>

                            <li class="">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li>
                                <a href="{% url 'about' %}">About</a>
                            </li>

<!--                            <li>-->
<!--                                <a href="{% url 'about' %}">About</a>-->
<!--                            </li>-->

                            <li style="position:relative;">
                                <a href="#">Categories</a>
                                <ul class="header__menu__dropdown" style="position:absolute; top:40px; left:0;">
                                    {% for i in Categories %}
                                        <li><a href="{% url 'filtered_products' cat_name=i.CategoryName %}">{{i.CategoryName}}</a></li>
                                    {% endfor %}

                                </ul>
                            </li>

                            <li>
                                <a href="{% url 'all_products' %}">Products</a>
                            </li>
                            <li><a href="{% url 'services' %}">Services</a> </li>

                            <li class="">
                                <a href="{% url 'contact' %}" style="padding-right:10px;">Contact</a>
                            </li>
                            {% if request.session.Username %}
                                 <li>
                                <a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{cart_count}}</span></a>
                            </li>
                            {% endif %}


                        </ul>
                    </nav>

                </div>
                <div class="col-lg-3">
                    <div class="header__cart">

<!--                        <div class="header__cart__price">item: <span>$150.00</span></div>-->
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

           <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            {% for i in  Categories %}
                                <li><a href="{% url 'filtered_products' cat_name=i.CategoryName %}">{{ i.CategoryName }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+91 9394 159 241</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'web/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Payment</h2>
                        <div class="breadcrumb__option">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
<!--    Payment Button Start-->
   <div class="container">
    <div style="height:300px; display:flex; justify-content:center; align-items:center;">

        <form action="{% url 'payment_success' %}" method="POST">
            {% csrf_token %}

            <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_0ib0jPwwZ7I1lT"
                data-amount="{{ payy_str }}"
                data-currency="INR"
                data-order_id="{{ payment.id }}"
                data-name="EasyGrocery"
                data-description="EasyGrocery Online Purchase"
                data-prefill.name="EasyGrocery"
                data-theme.color="#26bd46"
                data-callback_url="/payment_success/">
            </script>

        </form>

    </div>
</div>
<!--    Payment Button End-->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'home' %}"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address:Kochi,Kerala,India</li>
                            <li>Phone: +91 9394 159 241</li>
                            <li>Email: admin@easygrocery.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                           <li><a href="{% url 'home' %}#categories_section">Categories</a></li>
                            <li><a href="{% url 'all_products' %}">Products</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
<!--                        <ul>-->
<!--                            <li><a href="#">Who We Are</a></li>-->
<!--                            <li><a href="{% url 'services' %}">Our Services</a></li>-->
<!--                            <li><a href="#">Projects</a></li>-->
<!--                            <li><a href="#">Contact</a></li>-->
<!--                            <li><a href="#">Innovation</a></li>-->
<!--                            <li><a href="#">Testimonials</a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | EasyGrocery
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- Footer Section End -->
<!--    Form Validation-->
     <script>
        function  form_validation(){
            let c_name = document.getElementById("c_name").value
            let c_email = document.getElementById("c_email").value
            let c_message = document.getElementById("c_message").value
            if(c_name === ""){
                alert("Please enter your name");
                return false;
            }
              if(c_email === ""){
                alert("email cannot be null or blank");
                return false;
            }
            else if(c_message === ""){
                alert("Please enter your message");
                return false;
            }
            else{
                alert("Message sent Successful...!")
                return true;
            }
        }

    </script>
    <!-- Js Plugins -->
    <script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'web/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'web/js/mixitup.min.js' %}"></script>
    <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>

      <!--    Form Validation-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                    <script>
                        swal('{{ msg }}', '', 'success')
                    </script>
                 {% elif msg.tags == "warning" %}
                    <script>
                        swal('{{ msg }}', '', 'warning')
                    </script>
                {% elif msg.tags == "error" %}
                    <script>
                        swal('{{ msg }}', '', 'error')
                    </script>
                {% elif msg.tags == "info" %}
                    <script>
                        swal('{{ msg }}', '', 'info')
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}

<style>
.razorpay-payment-button{
    background: #7fad39;
    border:none;
    color:#ffffff;
    padding:12px 35px;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    border-radius:4px;
    cursor:pointer;
    transition:0.3s;
}

.razorpay-payment-button:hover{
    background: #8fc636;
}
</style>
</body>

</html>